<body>
        <div>
            <h2>Bienvenidos al juego de Adivinanza</h2>
            <p>El juego consiste en adivinar un número generado automáticamente por el computador. El sistema te avisará si es mayor o menor</p>
        </div>
        <br>
        <div>
            <label for="button">Presione el botón para comenzar a jugar!</label>
            
            <button type="button" class="btn btn-primary btn-sm"
            (click)="generateNumber()"
            >Comenzar!</button>
        </div>
</body>

